.modal:focus {
  box-shadow: 0 0 4px 3px rgba(115, 195, 235, 0.35);
  border: 2px solid #73c3eb;
}
.modal.active {
  top: 20%;
  visibility: visible;
  opacity: 1;
}
.modal .icon.close {
  position: absolute;
  left: calc(100% - 44px);
  margin-top: -36px;
}
.modal .modal-buttons-wrap {
  display: flex;
  flex-direction: row-reverse;
  clear: both;
  margin-top: -20px;
}
.modal .modal-buttons-wrap.center {
  justify-content: center;
}
.modal .modal-buttons-wrap .primary {
  margin-right: 16px;
  margin-bottom: 0;
}
.modal .modal-buttons-wrap .secondary,
.modal .modal-buttons-wrap .tertiary {
  margin-bottom: 0;
}
.modal .modal-body .body-copy {
  margin: 24px 0;
}
.modal .bmo-overlay-dark {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}
.modal .bmo-overlay-dark.active {
  display: block;
  z-index: 1040;
}

@media only screen and (max-width: 767px) {
  .bmo-overlay-dark.active {
    background-color: rgba(0, 0, 0, 0);
  }

  .modal {
    left: 0;
    margin-left: 0;
    height: 100%;
    max-width: 768px;
    top: 0;
    border-radius: 0;
  }
  .modal.active {
    top: 0;
  }
  .modal .icon-button.icon.close-grey {
    left: 12px;
    top: 20px;
    margin-top: 0;
  }
  .modal .modal-title h1 {
    color: #001928;
    font-family: 'heebo-bold';
    font-size: 1.6rem;
    letter-spacing: 0.11px;
    line-height: 24px;
  }
  .modal .modal-body {
    width: calc(100% + 8px);
    padding-right: 16px;
  }
  .modal .modal-buttons-wrap {
    display: block;
    clear: both;
  }
  .modal .modal-buttons-wrap .primary {
    margin-right: auto;
    margin-bottom: 8px;
  }
  .modal .modal-buttons-wrap .secondary,
  .modal .modal-buttons-wrap .tertiary {
    margin-bottom: 0;
  }
}
